#secup {
      background-color: #11235A;
      height: 185px;
      font-size: 24px;
      color: white;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
body {
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
  font-size: 88px;
  margin:0;
}

h2 {
  margin:0;
}
h3 {
  margin:0;
}
