#secup {
      background-color: #11235A;
      height: 200px;
      font-size: 24px;
      color: white;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
body {
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Heebo';font-size:16px;

}

h1 {
  font-size: 88px;
  margin:0;
}

h2 {
  margin:0;
}
h3 {
  margin:0;
}
