#secup {
      background-color: #11235A;
      height: 165px;
      font-size: 24px;
      color: white;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }

h1 {
  font-size: 88px;
}
